{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}

{% # theme-check-disable UndefinedObject %}

{%- unless product.has_only_default_variant -%}
  <variant-checkboxes
    id='variant-checkboxes-{{ section.id }}'
    class='no-js-hidden product-form__input product-form__checkbox checkbox-center'
    data-section='{{ section.id }}'
    data-url='{{ product.url }}'
    {% if update_url == false %}
      data-update-url='false'
    {% endif %}
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      <fieldset>
        <legend class='form__label'>{{ option.name }}</legend>
        {% comment %}
          where product-variant-picker.liquid
          would render product-variant-options
        {% endcomment %}
        {%- for value in option.values -%}
          <div class='checkbox'>
            <input
              type='checkbox'
              id='{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}'
              name='{{ option.name }}'
              value='{{ value | escape }}'
              form='{{ product_form_id }}'
              {% if option.selected_value == value %}
                checked
              {% endif %}
              {% if option_disabled %}
                class='disabled'
              {% endif %}
            >
            <label
              for='{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}'
            >
              {{- value -}}
              <span class='visually-hidden'>
                {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
              </span>
            </label>
          </div>
        {%- endfor -%}
      </fieldset>

      <script type='application/json'>
        {{ product.variants | json }}
      </script>
    {%- endfor -%}
  </variant-checkboxes>
{%- endunless -%}

{% # theme-check-enable UndefinedObject %}
